<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>403253031834-k580s4g9magjnecv36j5rfpjln2gmr39.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.403253031834-k580s4g9magjnecv36j5rfpjln2gmr39</string>
	<key>API_KEY</key>
	<string>AIzaSyDZIbiEvqdJDEl9AphwdY8mzpDfoYkvAZc</string>
	<key>GCM_SENDER_ID</key>
	<string>403253031834</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jpmcodeforgood.clicSargentGame</string>
	<key>PROJECT_ID</key>
	<string>jpm-clicsargent-game</string>
	<key>STORAGE_BUCKET</key>
	<string>jpm-clicsargent-game.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:403253031834:ios:3962451fcf71e225be8023</string>
	<key>DATABASE_URL</key>
	<string>https://jpm-clicsargent-game.firebaseio.com</string>
</dict>
</plist>